body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f7fff4;
    display: flex;
}

/* ============= SIDEBAR ============= */
.sidebar {
    width: 220px;
    background: #e7f6d5;
    height: 100vh;
    padding: 20px;
    box-shadow: 4px 0 10px rgba(0,0,0,0.1);
    position: fixed;
}

.sidebar .logo {
    text-align: center;
}

.sidebar .logo img {
    width: 90px;
    border-radius: 50%;
}

.sidebar h2 {
    margin: 8px 0 25px;
    color: #4f7b39;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul a {
    text-decoration: none;
    color: #446a31;
    font-size: 16px;
    padding: 10px 15px;
    display: block;
    border-radius: 10px;
    transition: 0.2s;
}

.sidebar ul .active a,
.sidebar ul a:hover {
    background: #d4efbe;
}

/* Logout */
.logout {
    color: #b82e2e !important;
}

/* ============= MAIN CONTENT ============= */
.main {
    margin-left: 260px;
    padding: 30px;
    width: calc(100% - 260px);
}

.header h1 {
    margin: 0;
    color: #4f7b39;
}

.header p {
    margin-top: 5px;
    color: #557c3b;
}

.cards {
    margin-top: 30px;
    display: flex;
    gap: 25px;
}

.card {
    background: white;
    padding: 25px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.1);
    border-left: 8px solid #8bc34a;
}

.card h3 {
    margin: 0;
    color: #4f7b39;
}

.card .value {
    margin-top: 15px;
    font-size: 30px;
    color: #3b5e23;
}
